@page
@model ProfileModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profile Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/profile.css">

<p>Profile page von @HttpContextAccessor.HttpContext.Session.GetString("US_vorname")</p>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Profile Information
        </div>
        <div class="card-body">
            @if (Model.User != null) {
                <p><strong>Email:</strong> @Model.User.Email</p>
                <p><strong>Password:</strong> @Model.User.Password</p>
                <p><strong>Vorname:</strong> @Model.User.Vorname</p>
                <p><strong>Nachname:</strong> @Model.User.Nachname</p>
                                                                  
                <p><div class="card-footer text-end">
                    <a href="@Url.Page("UpdateProfile")" class="btn btn-primary">
                        <i class="bi bi-pencil"></i> Bearbeiten
                    </a>
                    
                    <a href="@Url.Page("UserDelete")" class="btn btn-delete">
                        <i class="bi bi-trash"></i> Löschen
                    </a>
                </div> </p>
            } else {
                <p>User details not found.</p>
            }
        </div>
    </div>
</div>
